{% extends 'base.html' %}


{% block content %}


<div class="my-app">
    <!-- HEADER -->
    {% include 'common_includes/header_2.html' %}
    <!-- MOBILE MENU -->
    {% include 'home/includes/mobile_menu.html' %}
    <!-- OFFSET INFO -->
    {% include 'home/includes/offset_menu.html' %}
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <!-- BANNER -->
                {% include 'about/includes/about_banner.html' %}
                <!-- ABOUT ME CARDS -->
                {% include 'about/includes/about_me_section.html' %}
                <!-- EDUCATION & EXPERIENCE -->
                {% include 'about/includes/about_edu_exp.html' %}
                
                
            </main>
            <!-- FOOTER -->
            {% include 'common_includes/footer.html' %}

        </div>
    </div>
</div>


{% endblock %}