<!-- templates/projects/project_detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-app">
    <!-- HEADER -->
    {% include 'common_includes/header_2.html' %}
    <!-- MOBILE MENU -->
    {% include 'home/includes/mobile_menu.html' %}
    <!-- OFFSET INFO (MENU STUFF) -->
    {% include 'home/includes/offset_menu.html' %}
    <div id="smooth-wrapper" style="inset: 0px; width: 100%; height: 100%; position: fixed; overflow: hidden;">
        <div id="smooth-content"
            style="translate: none; rotate: none; scale: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); box-sizing: border-box; width: 100%; overflow: visible;">
            <main>
                <!-- ==== banner start ==== -->
                <section class="pb-120 cmn-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-center">{{ project.project_name }}</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ==== / banner end ==== -->
                <!-- ==== project details start ==== -->
                <section class="section project-d">
                    <div class="container">
                        <div class="row gaper">
                            <div class="col-12 col-lg-6">
                                <div class="project-d-group">
                                    <h3>About The Project</h3>
                                    <p>
                                        {{ project.project_description_short }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="project-d-group">
                                    <h3>What's Used:</h3>
                                    <p>
                                        {{ project.prog_language_reason }}
                                    </p>
                                    <ul>
                                        {% for language in project.prog_languages_used.all %}
                                        <li>
                                            {{ language.language_name }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="poster__slider-wrapper">
                                    <div class="poster__slider">
                                        <div class="poster__slider-single">
                                            <img src="{{ project.image_main.url }}" alt="Image">
                                        </div>
                                        <div class="poster__slider-single">
                                            <img src="{{ project.image_1.url }}" alt="Image">
                                        </div>
                                        {% if project.image_2 %}
                                        <div class="poster__slider-single">
                                            <img src="{{ project.image_2.url }}" alt="Image">
                                        </div>
                                        {% endif %}
                                        {% if project.image_3 %}
                                        <div class="poster__slider-single">
                                            <img src="{{ project.image_3.url }}" alt="Image">
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="slide-group">
                                        <button aria-label="previous item" class="slide-btn prev-project-d">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </button>
                                        <button aria-label="next item" class="slide-btn next-project-d">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gaper fade-wrapper">
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="project-d-o__single fade-top"
                                    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                    <div class="content">
                                        <h5>Sectors</h5>
                                        <p>Roads &amp; Highway</p>
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/projects/icon-one.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="project-d-o__single fade-top"
                                    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                    <div class="content">
                                        <h5>Owner</h5>
                                        <p>Some Comapny</p>
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/projects/icon-two.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="project-d-o__single fade-top"
                                    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                    <div class="content">
                                        <h5>Project Date</h5>
                                        <p>Start: 2021 - End: 2023</p>
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/projects/icon-three.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="details-group text-start section__content-cta">
                                    <h3>Project Description</h3>
                                    <p>
                                        {{ project.project_description_long }}
                                    </p>
                                
                                </div>
                            </div>
                        </div>
                 
                    </div>
           
                </section>
                <!-- ==== / project details end ==== -->
            </main>
            <!-- FOOTER -->
         {% include 'common_includes/footer.html' %}
        </div>
    </div>
</div>
{% endblock %}