{% extends 'base.html' %}
{% load static %}


{% block content %}




        
        <div class="my-app">
            <!-- HEADER -->
            {% include 'common_includes/header.html' %}
            <!-- MOBILE MENU -->
            {% include 'home/includes/mobile_menu.html' %}
            <!-- OFFSET INFO (MENU STUFF) -->
            {% include 'home/includes/offset_menu.html' %}
            
            
            <div id="smooth-wrapper">
                <div id="smooth-content">
                    <main>
                        <!-- INFO CARD -->
                        {% include 'home/includes/info_card.html' %}
                        
                        <!-- TEXT SLIDER -->
                        {% include 'home/includes/text_slider.html' %}
                        
                        <!-- COUNTER (DELETED) -->
                      
                        
                        <!-- RECENT PROJECTS -->
                        {% include 'home/includes/recent_projects.html' %}
                        
                        <!-- PROGRAMMING LANGUAGES I KNOW -->
                        {% include 'home/includes/programming_languages.html' %}
                        
                        <!-- HORIZONTAL TEXT SLIDER -->
                        {% include 'home/includes/horizontal_text_slider.html' %}
                        
                        <!-- TESTIMONIALS (DELETED) -->
                       
                        
                    </main>
                    <!-- FOOTER -->
                    {% include 'common_includes/footer.html' %}
                    
                </div>
            </div>
        </div>
        <!-- ==== / page wrapper end ==== -->
    


{% endblock %}