{% load static %}
<section class="pt-120 experience fade-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section__header text-center">
                    <h2 class="title-xl title-anim">Education And Experience</h2>
                    <p class="text-septenary text-center">Your website is an extension of your brand,
                        and I'm here to help you make it the</p>
                    <div class="faq-two__switch">
                        <p class="abc cd">Certificates</p>
                        <div class="switcher">
                            <input type="checkbox" id="switch">
                            <label for="switch">Toggle</label>
                        </div>
                        <p class="atc">Experience</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- CERTIFICATES -->
                <div class="faq-tab-content" id="faqOne">
                    <div class="row gaper">
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2020</span>
                                <h4 class="title-sm text-capitalize">React - The Complete Guide</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I learned to build dynamic web apps with React, mastering hooks, Redux, and routing. The course covered state management, component lifecycles, and real-world projects, giving me the skills to create responsive, interactive UIs.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2023</span>
                                <h4 class="title-sm text-capitalize">The Complete JavaScript Course</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I mastered JavaScript fundamentals, ES6+, and asynchronous programming. The course covered DOM manipulation, API interactions, and building real-world projects, equipping me to create robust and dynamic web applications.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2021</span>
                                <h4 class="title-sm text-capitalize">
                                    Python/Django: The Practical Guide
                                </h4>
                                <p class="text-capitalize text-quaternary">
                                    Udemy
                                </p>
                                <p class="text-septenary">I learned to build powerful web applications using Python and Django. The course covered database integration, user authentication, and deploying projects, providing practical skills for real-world development.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2022</span>
                                <h4 class="title-sm text-capitalize">Python Mega Course</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I mastered Python through hands-on projects, learning data analysis, web development, automation, and machine learning. The course provided practical skills and real-world applications, making me proficient in Python.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="experience__single fade-top">
                                <span>2022</span>
                                <h4 class="title-sm text-capitalize">Angular</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I learned to build dynamic web applications with Angular, mastering components, services, routing, and forms. The course covered state management and real-world projects, equipping me to create responsive, modern UIs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EXPERIENCE -->
                <div class="faq-tab-content" id="faqTwo">
                    <div class="row gaper">
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2023 - Present</span>
                                <h4 class="title-sm text-capitalize">CTO and Software Developer</h4>
                                <p class="text-capitalize text-quaternary">BINA-Q</p>
                                <p class="text-septenary">As the leader of technology strategy and development for a healthcare startup, I oversee the creation of advanced web applications to enhance healthcare operations. I collaborate with cross-functional teams to integrate innovative solutions, ensuring seamless and efficient healthcare delivery systems.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2020 - 2022</span>
                                <h4 class="title-sm text-capitalize">
                                    Production Operative/Software Developer
                                </h4>
                                <p class="text-capitalize text-quaternary">E3D-Online</p>
                                <p class="text-septenary">At E3D-Online, I managed database systems to boost production efficiency, developed and optimized software using Python and Django, and designed user-friendly interfaces with React for monitoring production data. My work ensured seamless operations and enhanced overall productivity.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2018 - Present</span>
                                <h4 class="title-sm text-capitalize">Freelance Web Developer</h4>
                                <p class="text-capitalize text-quaternary">
                                    Self-Employed
                                </p>
                                <p class="text-septenary">As a freelance web developer, I developed custom web solutions for various clients using HTML, CSS, JavaScript, React, Python, and Django to create responsive applications. I collaborated closely with clients to understand and meet their requirements, ensuring tailored and effective web solutions.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2018 - 2020</span>
                                <h4 class="title-sm text-capitalize">Storage Specialist</h4>
                                <p class="text-capitalize text-quaternary">Softbox Systems.</p>
                                <p class="text-septenary">At Softbox Systems, I monitored and ensured the safe storage of vaccines using Adafruit sensors and Python. I developed automated alert and reporting systems to maintain compliance, enhancing the reliability and safety of vaccine storage solutions while streamlining monitoring and reporting processes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>