{% load static %}
<section class="pt-120 experience fade-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section__header text-center">
                    <h2 class="title-xl title-anim">Education And Experience</h2>
                    <p class="text-septenary text-center">Your website is an extension of your brand,
                        and I'm here to help you make it the</p>
                    <div class="faq-two__switch">
                        <p class="abc cd">Certificates</p>
                        <div class="switcher">
                            <input type="checkbox" id="switch">
                            <label for="switch">Toggle</label>
                        </div>
                        <p class="atc">Education</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="faq-tab-content" id="faqOne">
                    <div class="row gaper">
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2020</span>
                                <h4 class="title-sm text-capitalize">React - The Complete Guide</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I learned to build dynamic web apps with React, mastering hooks, Redux, and routing. The course covered state management, component lifecycles, and real-world projects, giving me the skills to create responsive, interactive UIs.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2023</span>
                                <h4 class="title-sm text-capitalize">The Complete JavaScript Course</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I mastered JavaScript fundamentals, ES6+, and asynchronous programming. The course covered DOM manipulation, API interactions, and building real-world projects, equipping me to create robust and dynamic web applications.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2021</span>
                                <h4 class="title-sm text-capitalize">
                                    Python/Django: The Practical Guide
                                </h4>
                                <p class="text-capitalize text-quaternary">
                                    Udemy
                                </p>
                                <p class="text-septenary">I learned to build powerful web applications using Python and Django. The course covered database integration, user authentication, and deploying projects, providing practical skills for real-world development.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2022</span>
                                <h4 class="title-sm text-capitalize">Python Mega Course</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I mastered Python through hands-on projects, learning data analysis, web development, automation, and machine learning. The course provided practical skills and real-world applications, making me proficient in Python.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="experience__single fade-top">
                                <span>2022</span>
                                <h4 class="title-sm text-capitalize">Angular</h4>
                                <p class="text-capitalize text-quaternary">Udemy</p>
                                <p class="text-septenary">I learned to build dynamic web applications with Angular, mastering components, services, routing, and forms. The course covered state management and real-world projects, equipping me to create responsive, modern UIs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-tab-content" id="faqTwo">
                    <div class="row gaper">
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>gdfgdfgdfg - 2021</span>
                                <h4 class="title-sm text-capitalize">full stack web Developer</h4>
                                <p class="text-capitalize text-quaternary">Brunodee digital Agency</p>
                                <p class="text-septenary">I'm a web developer from Southampton, UK.
                                    Currently lead developer at a local agency, Fhoke. In my spare time
                                    I enjoy DIY, gaming and building my own projects. My preferred tools
                                    are PHP, Laravel and Vue.js.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2020 - 20gdfgdfgddfgdf21</span>
                                <h4 class="title-sm text-capitalize">senior UX/UI Designer</h4>
                                <p class="text-capitalize text-quaternary">Brain craft apps ltd</p>
                                <p class="text-septenary">I'm a web developer from Southampton, UK.
                                    Currently lead developer at a local agency, Fhoke. In my spare time
                                    I enjoy DIY, gaming and building my own projects. My preferred tools
                                    are PHP, Laravel and Vue.js.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2020 - 2021</span>
                                <h4 class="title-sm text-capitalize">Software engineer</h4>
                                <p class="text-capitalize text-quaternary">creative cloud digital Agency
                                </p>
                                <p class="text-septenary">I'm a web developer from Southampton, UK.
                                    Currently lead developer at a local agency, Fhoke. In my spare time
                                    I enjoy DIY, gaming and building my own projects. My preferred tools
                                    are PHP, Laravel and Vue.js.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="experience__single fade-top">
                                <span>2020 - 2021</span>
                                <h4 class="title-sm text-capitalize">Product Designer</h4>
                                <p class="text-capitalize text-quaternary">Creationic Inc.</p>
                                <p class="text-septenary">I'm a web developer from Southampton, UK.
                                    Currently lead developer at a local agency, Fhoke. In my spare time
                                    I enjoy DIY, gaming and building my own projects. My preferred tools
                                    are PHP, Laravel and Vue.js.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>