{% load static %}
<section class="pb-120 cmn-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cmn-banner__content">
                    <h2 class="title-xl fw-7 title-anim">About Me</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                About
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>