{% load static %}
<section class="about-me fade-wrapper">
    <div class="container">
        <div class="row gaper">
            <div class="col-12 col-lg-6 col-xxl-3">
                <div class="banner__meta fade-top">
                    <div class="banner__meta-single bg-grd-one">
                        <div class="thumb">
                            <img src="{% static 'images/bn-one-thumb.png' %}" alt="Image">
                        </div>
                        <div class="content">
                            <h4 class="title-md ">
                                Delroy Brown,
                                <br>
                                <span id="textTyped" class="text-quaternary text-capitalize"></span>
                            </h4>
                        </div>
                        <div class="dert">
                            <p class="text-quaternary text-md">I'm on:</p>
                            <div class="social justify-content-start">
                                <a href="https://www.github.com/DelroyBrown" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xxl-6">
                <div class="banner-two__content fade-top">
                    <div class="banner-two__group">
                        <div class="banner-two__left">
                            <h2 class="title-lg title-anim">
                                Crafting code, solving problems, and loving every byte!
                            </h2>
                        </div>
                    </div>
                    <hr>
                    <div class="banner-content__paragraph">
                        <p class="text-septenary">Hi, I'm Delroy Brown, a 33-year-old software and web developer from
                            Buckinghamshire, England. In my spare time, I love crafting my own fun projects, often
                            diving into Python, Django, React, and SQL. Recently, I got engaged to my wonderful fiancée,
                            Karissa Prince, and life has been moving fast!

                            Currently, I work for a startup healthcare company, and on the side, I assist small
                            businesses in getting online—whether it’s building websites, designing logos, or helping
                            with branding. Though I have a weekend gig, I'm on the lookout for my next big adventure in
                            the web development world.
                        </p>
                    </div>
                    <hr>
                    <div class="banner-content__footer">
                        <ul>

                            <li>
                                <a href="mailto:info.andrea@mail.com">
                                    <i class="fa-regular fa-envelope"></i>
                                    Delroybrown.db@gmail.com
                                </a>
                            </li>
                        </ul>
                        <button id="downloadCv">
                            Download Resume
                            <i class="fa-solid fa-download"></i>
                        </button>
                    </div>
                </div>
            </div>   
            <div class="col-12 col-lg-4 col-xxl-3">
                <div class="banner-two__sidebar">
                    <h4 class="title-md fw-7">My Special Skills</h4>
                    <div class="skill-wrap">
                        <div class="skill-bar-single">
                            <div class="skill-bar-title">
                                <p>Frontend</p>
                                <span class="percent-value"></span>
                            </div>
                            <div class="skill-bar-wrapper" data-percent="100%">
                                <div class="skill-bar">
                                    <div class="skill-bar-percent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-single">
                            <div class="skill-bar-title">
                                <p>Backend</p>
                                <span class="percent-value"></span>
                            </div>
                            <div class="skill-bar-wrapper" data-percent="90%">
                                <div class="skill-bar">
                                    <div class="skill-bar-percent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-single">
                            <div class="skill-bar-title">
                                <p>Database Management</p>
                                <span class="percent-value"></span>
                            </div>
                            <div class="skill-bar-wrapper" data-percent="70%">
                                <div class="skill-bar">
                                    <div class="skill-bar-percent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-single">
                            <div class="skill-bar-title">
                                <p>Debugging</p>
                                <span class="percent-value"></span>
                            </div>
                            <div class="skill-bar-wrapper" data-percent="80%">
                                <div class="skill-bar">
                                    <div class="skill-bar-percent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-single">
                            <div class="skill-bar-title">
                                <p>Taking a Break</p>
                                <span class="percent-value"></span>
                            </div>
                            <div class="skill-bar-wrapper" data-percent="5%">
                                <div class="skill-bar">
                                    <div class="skill-bar-percent"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>