{% load static %}
<footer class="pt-120 footer-two">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-two__inner">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 col-xxl-8">
                            <div class="section__header text-center">
                                <span class="sub-title">Contact me</span>
                                <h2 class="title-xxl title-anim">Let's Create Together A Unique Site That Looks Like
                                    You.</h2>
                                <div class="section__content-cta">
                                    <div class="meta">
                                        <div class="thumb">
                                            <a href="about-me.html">
                                                <img src="{% static 'images/avatar.png' %}" alt="Image">
                                            </a>
                                        </div>
                                        <h5 class="title-sm">
                                            <span>SEND ME</span>
                                            <a href="{% url 'DelroyBrownPortfolio_contact:contact' %}">
                                                <span>A MESSAGE</span>
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright" data-background="{% static 'images/footer-bg.png' %}">
        <div class="container">
            <div class="row align-items-center gaper">
                <div class="col-12 col-lg-4">
                    <div class="social justify-content-center justify-content-lg-start">
          
                        <a href="https://github.com/DelroyBrown" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="footer__copyright-text text-center text-lg-end">
                        <p class="text-senary tertiary-text">
                            &copy;
                            <span id="copyYear"></span>
                            <a href="index.html" class="fw-6">Delroy J. Brown</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>