{% load static %}
<div class="row gaper">
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="contact-m__single topy-tilt fade-top">
            <div class="thumb">
                <img src="{% static 'images/phone.svg' %}" alt="Image">
            </div>
            <div class="content">
                <h4>Phone</h4>
                <p>
                    <a href="tel:07795128316">Mobile : 07795 128 316</a>
                </p>
              
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="contact-m__single topy-tilt fade-top">
            <div class="thumb">
                <img src="{% static 'images/mail.svg' %}" alt="Image">
            </div>
            <div class="content">
                <h4>Email</h4>
                <p>
                    <a href="mailto:delroybrown.db@gmail.com">Delroybrown.db@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="contact-m__single topy-tilt fade-top">
            <div class="thumb">
                <img src="{% static 'images/location.svg' %}" alt="Image">
            </div>
            <div class="content">
                <h4>Location</h4>
                <p>
                    <a href="javascript:void()"
                        target="_blank">
                        Buckinghamshire, England
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="contact-m__single topy-tilt fade-top">
            <div class="thumb">
                <img src="{% static 'images/time.svg' %}" alt="Image">
            </div>
            <div class="content">
                <h4>Available Times</h4>
                <p>
                    Mon-Fri: 8am-5pm
                </p>
            </div>
        </div>
    </div>
</div>