{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="my-app">
    <!-- HEADER -->
    {% include 'common_includes/header_2.html' %}
    <!-- MOBILE MENU -->
    {% include 'home/includes/mobile_menu.html' %}
    <!-- OFFSET INFO -->
    {% include 'home/includes/offset_menu.html' %}

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <!-- CONTACT BANNER -->
                {% include 'contact/includes/contact_banner.html' %}
                <section class="section contact-m fade-wrapper">
                    <div class="container">
                        <!-- CONTACT CARDS -->
                        {% include 'contact/includes/contact_cards.html' %}
                        <!-- CONTACT FORM AND MAP -->
                        {% include 'contact/includes/contact_form_map.html' %}
                    </div>
                </section>
            </main>
            <!-- FOOTER -->
            {% include 'common_includes/footer_2.html' %}
        </div>
    </div>
</div>
<!-- ==== / page wrapper end ==== -->

<!-- ==== js dependencies ==== -->
<!-- jquery -->

{% endblock %}