{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .btn-styles {
        border: 1px solid #414141;
        /* color: var(--white); */
        border-radius: 100px;
        padding: 10px 50px;
        color: #fff !important;
    }

    .btn-styles:hover {
        border: 1px solid #fff;
        color: #fff
    }
</style>

<section class="pt-120 mt-5 footer-one">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="footer-two__inner">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 col-xxl-8">
                            <div class="section__header text-center">
                                <h2 class="title-xxl title-anim">Thanks for your message, i'll get back to you as soon
                                    as I can.</h2>
                                <div class="section__content-cta">
                                    <div class="meta">
                                        <div class="thumb">
                                            <a class="btn btn-styles"
                                                href="/">Home</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
{% endblock %}