{% load static %}
<section class="counter pt-120 fade-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="counter__inner pb-120">
                    <div class="row justify-content-center">
                        <div class="col-12 col-xxl-11">
                            <div class="row gaper">
                                <div class="col-12 col-md-6 col-xxl-3">
                                    <div class="counter__single fade-top">
                                        <h2 class="title-xl">
                                            <span class="odometer" data-odometer-final="15"></span>
                                            <span> k+</span>
                                        </h2>
                                        <p class="title-sm text-quaternary">Project complete</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xxl-3">
                                    <div class="counter__single fade-top">
                                        <h2 class="title-xl">
                                            <span class="odometer" data-odometer-final="1.2"></span>
                                            <span> k+</span>
                                        </h2>
                                        <p class="title-sm text-quaternary">happy customers</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xxl-3">
                                    <div class="counter__single fade-top">
                                        <h2 class="title-xl">
                                            <span class="odometer" data-odometer-final="10"></span>
                                            <span> +</span>
                                        </h2>
                                        <p class="title-sm text-quaternary">years of experience</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xxl-3">
                                    <div class="counter__single fade-top">
                                        <h2 class="title-xl">
                                            <span class="odometer" data-odometer-final="100"></span>
                                            <span> +</span>
                                        </h2>
                                        <p class="title-sm text-quaternary">award achievement</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>