{% load static %}
<section class="pt-120 recent appear-wrapper">
    <div class="container">
        <div class="row gaper">
            <div class="col-12 col-lg-5">
                <div class="section__content">
                    <span class="sub-title text-capitalize">recent completed project</span>
                    <h2 class="title-xl title-anim">
                        Here are some recent personal projects I've worked on over the past few years, showcasing my skills and passion for software development.
                    </h2>
                    <div class="section__content-cta">
                        <div class="section__content-cta">
                            <a href="{% url 'DelroyBrownPortfolio_contact:contact' %}" class="btn anim-btn btn--secondary">
                                <span class="btn-anim">Hire Me</span>
                                <span class="btn-m">Hire Me</span>
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="recent__thumb">
                    <div class="recent__single appear-down">
                        <div class="thumb">
                            <a href="service-single.html">
                                <img src="{% static 'images/project_images/bina-q.png' %}" alt="Image">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title-lg text-capitalize">
                                <a href="case-study-single.html">BINA-Q</a>
                            </h3>
                            <p class="text-quaternary">BINA-Q, is advanced AI-driven software for healthcare. We link health data securely, offer wearable integration, and ensure privacy. Our goal is efficient, equitable healthcare by addressing modern challenges with innovative solutions.</p>
                        </div>
                        <hr>
                        <div class="content-footer">
                            <div class="content-footer__left">
                                <a href="javascript:void()">Python/Django</a>
                                <a href="javascript:void()">Web Application</a>
                            </div>
                            <div class="content-footer__right">
                                <a href="https://www.binaq.co.uk/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="recent__single appear-down">
                        <div class="thumb">
                            <a href="service-single.html">
                                <img src="{% static 'images/project_images/atari.png' %}" alt="Image">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title-lg text-capitalize">
                                <a href="case-study-single.html">Atari</a>
                            </h3>
                            <p class="text-quaternary">
                                Dive into this retro Pong experience with a modern twist! Battle the AI, bounce the ball off your paddle, and groove to the quirky sound effects. Control your paddle with your mouse and outscore your opponent against a cool Atari backdrop. Game on!
                            </p>
                        </div>
                        <hr>
                        <div class="content-footer">
                            <div class="content-footer__left">
                                <a href="services.html">javaScript</a>
                                <a href="services.html">Arcade</a>
                            </div>
                            <div class="content-footer__right">
                                <a href="index.html">View Code</a>
                            </div>
                        </div>
                    </div>
                    <div class="recent__single appear-down">
                        <div class="thumb">
                            <a href="service-single.html">
                                <img src="{% static 'images/one.png' %}" alt="Image">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title-lg text-capitalize">
                                <a href="case-study-single.html">impression</a>
                            </h3>
                            <p class="text-quaternary">Illo expedita corrupti placeat cupiditate veniam placeat dolorum
                                libero doloremque. Incidunt cum dolorum dolorem. Sunt et quod molestiae. Quo sed optio
                                quia ducimus aut sed.‍</p>
                        </div>
                        <hr>
                        <div class="content-footer">
                            <div class="content-footer__left">
                                <a href="services.html">Web Application</a>
                                <a href="services.html">Branding</a>
                            </div>
                            <div class="content-footer__right">
                                <a href="index.html">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="recent__single appear-down">
                        <div class="thumb">
                            <a href="service-single.html">
                                <img src="{% static 'images/two.png' %}" alt="Image">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title-lg text-capitalize">
                                <a href="case-study-single.html">sense</a>
                            </h3>
                            <p class="text-quaternary">Illo expedita corrupti placeat cupiditate veniam placeat dolorum
                                libero doloremque. Incidunt cum dolorum dolorem. Sunt et quod molestiae. Quo sed optio
                                quia ducimus aut sed.‍</p>
                        </div>
                        <hr>
                        <div class="content-footer">
                            <div class="content-footer__left">
                                <a href="services.html">Web Application</a>
                                <a href="services.html">Branding</a>
                            </div>
                            <div class="content-footer__right">
                                <a href="index.html">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>