{% load static %}
<section class="pt-120 recent appear-wrapper">
    <div class="container">
        <div class="row gaper">
            <div class="col-12 col-lg-5">
                <div class="section__content">
                    <span class="sub-title text-capitalize">recent completed project</span>
                    <h2 class="title-xl title-anim">
                        Here are some recent personal projects I've worked on over the past few years, showcasing my
                        skills and passion for software development.
                    </h2>
                    <div class="section__content-cta">
                        <div class="section__content-cta">
                            <a href="{% url 'DelroyBrownPortfolio_contact:contact' %}"
                                class="btn anim-btn btn--secondary">
                                <span class="btn-anim">Hire Me</span>
                                <span class="btn-m">Hire Me</span>
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="recent__thumb">
                    {% for project in projects %}
                    <div class="recent__single appear-down">
                        <div class="thumb">
                            <a href="javascript:void()">
                                <img src="{{ project.image_main.url }}" alt="Image">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title-lg text-capitalize">
                                <a href="javascript:void()">{{ project.project_name }}</a>
                            </h3>
                            <p class="text-quaternary">
                                {{ project.project_description_short }}
                            </p>
                        </div>
                        <hr>
                        <div class="content-footer">
                          
                            <div class="content-footer__left">
                                <a
                                href="{% url 'DelroyBrownPortfolio_projects:project-detail' project.id %}" target="_blank">Visit Project</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="recent__single appear-down">
                        <div class="thumb">
                            <a href="javascript:void()">
                                <img src="{% static 'images/two.png' %}" alt="Image">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title-lg text-capitalize">
                                <a href="javascript:void()">sense</a>
                            </h3>
                            <p class="text-quaternary">Illo expedita corrupti placeat cupiditate veniam placeat dolorum
                                libero doloremque. Incidunt cum dolorum dolorem. Sunt et quod molestiae. Quo sed optio
                                quia ducimus aut sed.‍</p>
                        </div>
                        <hr>
                        <div class="content-footer">
                            <div class="content-footer__left">
                                <a href="javascript:void()">Web Application</a>
                                <a href="javascript:void()">Branding</a>
                            </div>
                            <div class="content-footer__right">
                                <a href="javascript:void()">Visit Website</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>