{% load static %}
<section class="testimonial-two pt-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                class="testimonial-two__inner bg-img"
                data-background="{% static 'images/testimonials/testimonial-two-bg.png' %}">
                    <div class="section__header">
                        <span class="sub-title">clients feedback</span>
                        <h2 class="title-xl title-anim">
                            What My Clients Say
                        </h2>
                    </div>
                    <img src="{% static 'images/testimonials/quote.png' %}" alt="Image" class="quote">
                    <div class="testimonial-two-wrapper">
                        <div class="row align-items-center gaper">
                            <div class="col-12 col-lg-2 col-xxl-1">
                                <div class="slide-dots testimonial-two-dots"></div>
                            </div>
                            <div class="col-12 col-lg-10 col-xxl-11">
                                <div class="testimonial-two__slider">
                                    <div class="testimonial-two-single">
                                        <div class="test-thumb">
                                            <img
                                            src="{% static 'images/testimonials/quote.png' %}" alt="Image">
                                        </div>
                                        <h3 class="title-md">Aiko's web design brought our brand</h3>
                                        <p>Aiko's expertise in web design breathed life into our brand. She captured our vision with precision, and delivered a website that stands out among</p>
                                        <hr>
                                        <div class="meta">
                                            <div class="thumb">
                                                <img src="{% static 'images/testimonials/a-one.png' %}" alt="Image">
                                            </div>
                                            <div class="content">
                                                <p>
                                                    Anthony D. Saltz
                                                </p>
                                                <p>Creative Director, Tech base inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial-two-single">
                                        <div class="test-thumb">
                                            <img src="{% static 'images/testimonials/logo.png' %}" alt="Image">
                                        </div>
                                        <h3 class="title-md">Aiko's web design brought our brand</h3>
                                        <p>Aiko's expertise in web design breathed life into our brand. She captured our vision with precision, and delivered a website that stands out among</p>
                                        <hr>
                                        <div class="meta">
                                            <div class="thumb">
                                                <img src="{% static 'images/testimonials/a-two.png' %}" alt="Image">
                                            </div>
                                            <div class="content">
                                                <p>
                                                    Anthony D. Saltz
                                                </p>
                                                <p>Creative Director, Tech base inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial-two-single">
                                        <div class="test-thumb">
                                            <img src="{% static 'images/testimonials/logo.png' %}" alt="Image">
                                        </div>
                                        <h3 class="title-md">Aiko's web design brought our brand</h3>
                                        <p>Aiko's expertise in web design breathed life into our brand. She captured our vision with precision, and delivered a website that stands out among</p>
                                        <hr>
                                        <div class="meta">
                                            <div class="thumb">
                                                <img src="{% static 'images/testimonials/a-one.png' %}" alt="Image">
                                            </div>
                                            <div class="content">
                                                <p>
                                                    Anthony D. Saltz
                                                </p>
                                                <p>Creative Director, Tech base inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial-two-single">
                                        <div class="test-thumb">
                                            <img src="{% static 'images/testimonials/logo.png' %}" alt="Image">
                                        </div>
                                        <h3 class="title-md">Aiko's web design brought our brand</h3>
                                        <p>Aiko's expertise in web design breathed life into our brand. She captured our vision with precision, and delivered a website that stands out among</p>
                                        <hr>
                                        <div class="meta">
                                            <div class="thumb">
                                                <img src="{% static 'images/testimonials/a-two.png' %}" alt="Image">
                                            </div>
                                            <div class="content">
                                                <p>
                                                    Anthony D. Saltz
                                                </p>
                                                <p>Creative Director, Tech base inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>