{% load static %}
<div class="text-slider-wrapper">
    <div class="text-slider">
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    EMPLOY
                </a>
            </h2>
            <span></span>
        </div>
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    DESTROY
                </a>
            </h2>
            <span></span>
        </div>
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    DEBUG
                </a>
            </h2>
            <span></span>
        </div>
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    DEPLOY
                </a>
            </h2>
            <span></span>
        </div>
    </div>
</div>