{% load static %}
<div class="text-slider-wrapper">
    <div class="text-slider">
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    WEB DEVELOPMENT
                </a>
            </h2>
            <span></span>
        </div>
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    SOFTWARE DEVELOPMENT
                </a>
            </h2>
            <span></span>
        </div>
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    BRAND DESIGN
                </a>
            </h2>
            <span></span>
        </div>
        <div class="text-slider__single">
            <h2 class="light-title-lg">
                <a href="service-single.html">
                    DIGITAL MARKETING
                </a>
            </h2>
            <span></span>
        </div>
    </div>
</div>